{% extends "polls/base.html" %}

{% block title %}Management Page{% endblock %}

{% block content %}
<h3>New questions:</h3>
<ul>
	{% for question in new_questions %}
		<li>
			{{ question.question_text }}
		</li>
	{% endfor %}
</ul>
{% endblock %}

{% block script %}
<script>
	var socket = new WebSocket("ws://" + window.location.host + "/management/");
	socket.onopen = function open() {
		console.log("Created WebSocket connection.");
	}
	socket.onmessage = function message(event) {
		var data = JSON.parse(event.data);
		var question = encodeURI(data['question']);
		var question_text = encodeURI(data['question_text']);
		question.text(question_text);
	}
	if (socket.readyState == WebSocket.OPEN) {
		socket.onopen();
	}
</script>
{% endblock %}
