{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'polls/questions.css' %}" />

{% for q in question %}
	{{ q.question_text|upper }}<br />
	<br />
	{% for choice in q.choice_set.all %}
		<li>{{ choice.choice_text }}</li>
	{% endfor %}
	<br />
{% endfor %}

<div class="pagination">
	<span class="step-links">
		{% if question.has_previous %}
			<div class="round-button"><div class="round-button-circle"><a href="?page={{ question.previous_page_number }}" class="round-button">previous</a></div></div>
		{% endif %}

		<span class="current">
			Page {{ question.number }} of {{ question.paginator.num_pages }}.
		</span>

		{% if question.has_next %}
			<div class="round-button"><div class="round-button-circle"><a href="?page={{ question.next_page_number }}" class="round-button">next</a></div></div>
		{% endif %}
	</span>
</div>
