{% for q in question %}
	{{ q.question_text|upper }}<br />
	<br />
	{% for choice in q.choice_set.all %}
		<li>{{ choice.choice_text }}</li>
	{% endfor %}
	<br />
{% endfor %}

<div class="pagination">
	<span class="step-links">
		{% if question.has_previous %}
			<a href="?page={{ question.previous_page_number }}">previous</a>
		{% endif %}

		<span class="current">
			Page {{ question.number }} of {{ question.paginator.num_pages }}.
		</span>

		{% if question.has_next %}
			<a href="?page={{ question.next_page_number }}">next</a>
		{% endif %}
	</span>
</div>
