{% extends "fortune/base.html" %}
{% load fortunes %}

{% block title %}Fortune Page - Overview{% endblock %}

{% block content %}
<pre>{% fortune %}</pre>

<h3>How do you want to load not yet loaded fortune packs?</h3>
<ul>
	<li><a href="{% url 'fortune:fortune-normal' %}">synchronously</a></li>
	<li><a href="{% url 'fortune:fortune-websocket' %}">asynchronously (websockets)</a></li>
</ul>

<h3>Through which way should your websocket get fortunes?</h3>
<ul>
	<li><a href="{% url 'fortune:fortune-rabbitmq' %}">receive from RabbitMQ</a></li>
</ul>

<h3>Other (coming) options:</h3>
<ul>
	<li>send fortune to websocket (from our database)</li>
	<li>subscribe to fortune publisher and send to websocket</li>
</ul>
{% endblock %}
